<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" th:replace="base::Layout(~{::section})">
	<head>
		<meta charset="UTF-8" />
		<title>This is Home Page</title>
	</head>
	<body>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<div class="my-card mt-2">
											
							<!--message-->	
							<div id="text-message" th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
							  <p class="text-center" th:text="${session.message.content}"> </p>
							
							</div>
	
							<div class="container text-center">
								<img style="width: 40px;" src="" th:src="@{/img/check-list.png}" alt=""/>
							</div>
							<h3 class="text-center">Register Here</h3>
							
							<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
								
								<div class="form-group">
								    <label for="exampleInputEmail1">Your Name</label>
								    <input name="name" type="text" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}" id="name_field" th:value="${user.name}" placeholder="Enter here" required/>
								    <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
									       
									   </div>
 								 </div>
 								 
 								 <div class="form-group">
								    <label for="exampleInputEmail1">Your Email</label>
								    <input name="email" type="email" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}"  id="email_field" th:value="${user.email}" placeholder="Enter here" required/>
								    <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">
									       
									   </div>
 								 </div>
 								 
 								 <div class="form-group">
								    <label for="exampleInputEmail1">Your Password</label>
								    <input name="password" type="password" class="form-control" id="password_field" th:value="${user.password}" placeholder="Enter here" required>
 								 </div>
 								 
 								 <div class="form-group">
								    <textarea name="about" rows="5" class="form-control" th:text = "${user.about}" placeholder="Enter something yourself"></textarea>
 								 </div>
 								 
 								 <div class="form-group form-check m-0">
								     <input name="enabled" type="checkbox" class="form-check-input" th:classappend="${#fields.hasErrors('enabled') ? 'is-invalid':''}" id="agreement_field">
								     <label for="enabled">Accept term and conditions.</label>
								     <div class="invalid-feedback" th:each="e : ${#fields.errors('enabled')}" th:text="${e}">
									       
									   </div>
 								 </div>
 								 
 								 <div class="container text-center">
									  <button type="submit" class="btn bg-primary text-white">
										  Submit
									  </button>
									  
									   <button type="reset" class="btn btn-warning">
										  Reset
									  </button>
								  </div>
 								 
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
