<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
	<head>
		<meta charset="UTF-8" />
		<title>This is Home Page</title>
	</head>
	<body>
		<section>
			<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:250px" class="col-md-12">
                    <!--<h3 class="text-center text-info mt-5">Your Registered Email</h3>-->
                    
                     <div  class="alert alert-success mt-3">
                            	We have sent OTP to your email...
                            </div>
                    
                    <!-- message box -->
					       <div th:if="${session.message}" class="container">
								<div id="text-message" th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
								  	<span th:text="${session.message.content}"></span>
								</div>
							</div>
							
                        <form id="login-form" class="form" th:action="@{/verify-otp}" action="#" method="post">
                        
                            <div class="form-group">
                                <input type="number" name="otp" id="username" class="form-control" placeholder="Enter OTP here" required>
                            </div>
                            <div class="container text-center">
                               <button type="submit" class="btn btn-success">Verify</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
		</section>
	</body>
</html>